<div>
    <h1>A comprehensive platform for reliable
        job opportunities and internships.</h1>
        <p>
            Get Discovered. Get Hired.
        </p>
        <a>I am Job Seeker</a>
        <a>I am A Recriter</a>

<div>