<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="./layout.css" />

</head>

<body>

    <header>
        <div class="flex">
            <div>
                <li class="title"><a href="/">Jobee</a></li>
            </div>
            <div>

                <ul>

                    <li><a href="/">Home</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="/recruiter/register">Login as Recruiter</a></li>
                    <li><a href="#">Post new Job</a></li>
                </ul>
            </div>
        </div>
        <div>
            <form>
                <input type="search" name="search" placeholder="Search" />
                <button type="submit">search</button>
            </form>
        </div>
    </header>




    <main>

        <%-body%>
    </main>






</body>
</body>

</html>